<% layout("/layouts/boilerplate") %>
  <body class="container mt-5">
    <div class="card" style="width: 50rem;">
      <!-- Display the listing image at the top -->
      <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem; object-fit: cover;">

      <div class="card-body">
        <h3 class="card-title">Listing Details</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Title: </strong><%= listing.title %></li>
          <li class="list-group-item"><strong>Description: </strong><%= listing.description %></li>
          <li class="list-group-item"><strong>Price: </strong>&#8377; <%= listing.price.toLocaleString("en-IN")%></li>
          <li class="list-group-item"><strong>Location: </strong><%= listing.location %></li>
          <li class="list-group-item"><strong>Country: </strong><%= listing.country %></li>
        </ul>
        <br />
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary">Edit this Listing</a>
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE" class="mt-3">
          <button class="btn btn-danger">Delete this listing</button>
        </form>
      </div>
    </div>
  </body>

